
    <li class="active has-sub">

        <a href="@Url.Action("Index","BackHome")">
            <i class="fas fa-tachometer-alt"></i>Ïndice
        </a>
        

    </li>




    <li>
        <a href="@Url.Action("Nombre_Costas","BackCostas")">
            <i class="far fa-check-square"></i>COSTAS
        </a>
    </li>


    <li>
        <a href="@Url.Action("GetTiposVivienda","BackTipoVivienda")">
            <i class="far fa-check-square"></i>TIPO DE VIVIENDAS
        </a>
    </li>

    <li>
        <a href="@Url.Action("Usuarios","BackUsuarios")">
            <i class="far fa-check-square"></i>USUARIOS
        </a>
    </li>



    <li>
        <a href="@Url.Action("Viviendas","BackViviendas")">
            <i class="far fa-check-square"></i>DETALLES DE VIVIENDAS
        </a>
    </li>

    <li>
        <a href="@Url.Action("Clientes","BackClientes")">
            <i class="far fa-check-square"></i>CLIENTES
        </a>
    </li>



