
    <li class="active has-sub">

        <a href="@Url.Action("Index","BackHome")">
            <i class="fas fa-tachometer-alt"></i>Ïndice
        </a>
        

    </li>

    <li>
        <a href="@Url.Action("Nombre_Costas","BackCostas")">
            <i class="fa fa-picture-o"></i>COSTAS
        </a>
    </li>


    <li>
        <a href="@Url.Action("GetTipoVivienda","BackTipoVivienda")">
            <i class="fa fa-hospital-o"></i>TIPO DE VIVIENDAS
        </a>
    </li>

    <li>
        <a href="@Url.Action("Usuarios","BackUsuarios")">
            <i class="fa fa-user"></i>USUARIOS
        </a>
    </li>



    <li>
        <a href="@Url.Action("Viviendas","BackViviendas")">
            <i class="fa fa-home"></i>DETALLES DE VIVIENDAS
        </a>
    </li>

    <li>
        <a href="@Url.Action("Clientes","BackClientes")">
            <i class="fa fa-group"></i>CLIENTES
        </a>
    </li>



