@model Rent_Flat_Core.Models.Tipos_Vivienda

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/PlantillaBack.cshtml";
}

<div class="card">
    <div class="card-header">Eliminar @Model.Descripcion</div>
    <div class="card-body">
        <h3>¿Está seguro de eliminar @Model.Descripcion?</h3>
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Cod_tipo_vivienda)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cod_tipo_vivienda)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
            </dl>

            <form asp-action="EliminarTipoVivienda">
                @Html.HiddenFor(model => model.Cod_tipo_vivienda)
                <input type="submit" value="Confirmar Eliminar" class="btn btn-default" /> |
                <a asp-action="GetTipoVivienda">Volver</a>
            </form>
        </div>
    </div>
</div>


