@model Rent_Flat_Core.Models.Tipos_Vivienda

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/PlantillaBack.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tipos_Vivienda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cod_tipo_vivienda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cod_tipo_vivienda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="EliminarTipoVivienda">
        @Html.HiddenFor(model => model.Cod_tipo_vivienda)
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
