@model IEnumerable<Rent_Flat_Core.Models.Tipos_Vivienda>

@{
    ViewData["Title"] = "GetTipoVivienda";
    Layout = "~/Views/Shared/PlantillaBack.cshtml";
}

<div class="card">
    <div class="card-header">Tipos de Vivienda</div>
    <div class="card-body">
        <div class="container-fluid">
            <p>
                @Html.ActionLink("Registrar Tipo de Vivienda", "Create", new { }, new { @class = "btn btn-warning" })
            </p>

            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    @*<th>
                                        Código de vivienda
                                    </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.Descripcion)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.Cod_tipo_vivienda)
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Descripcion)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Modificar", "Edit", new { id = item.Cod_tipo_vivienda }, new { @class = "btn btn-success btn-sm" })
                                            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Cod_tipo_vivienda }, new { @class = "btn btn-danger btn-sm" })
                                        </td>
                                    </tr>
                                }
                            </tbody>



                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

