
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/PlantillaBack.cshtml";
}

<h2>Resumen</h2>

<section class="p-t-20">
    <div class="container">
        <div class="row">


            <partial name="~/Views/BackUsuarios/_InfoPisos.cshtml" />
            <partial name="~/Views/BackUsuarios/_InfoTiposVivienda.cshtml" />
            <partial name="~/Views/BackUsuarios/_InfoTotalCostas.cshtml" />
            @*<table class="table table-data2">
            <thead>

                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.NombreCliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApellidoCliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailCliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ciudad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dni)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tr-shadow">

                        <td class="desc">
                            @Html.DisplayFor(modelItem => item.NombreCliente)
                        </td>
                        <td>
                            <span class="status--process">
                                @Html.DisplayFor(modelItem => item.ApellidoCliente)
                            </span>

                        </td>

                        <td>
                            <span class="block-email">
                                @Html.DisplayFor(modelItem => item.EmailCliente)
                            </span>

                        </td>
                        <td class="desc">
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            <span class="status--denied">
                                @Html.DisplayFor(modelItem => item.Ciudad)
                            </span>

                        </td>
                        <td class="desc">
                            @Html.DisplayFor(modelItem => item.Dni)
                        </td>
                        <td>
                            <span class="status--process">
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </span>

                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                }
                <tr>
                    <td colspan="3">
                        @for (int i = 1; i < registros; i += 5)
                        {
                            <span>
                                @Html.ActionLink(numeropagina + " | "
                 , "Index", "BackHome"
                 , new {
                     indice = i
                 }, null)
                            </span>
                            numeropagina += 1;
                        }
                    </td>
                </tr>

            </tbody>
        </table>*@

        </div>
    </div>
</section>