@model IEnumerable<Rent_Flat_Core.Models.Usuarios>

@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/PlantillaBack.cshtml";
}

<div class="card">
    <div class="card-header">Usuarios Registrados</div>
    <div class="card-body">
        <div class="container-fluid">
            <p>
                @Html.ActionLink("REGISTRAR Nuevo Usuario", "Create", new { }, new { @class = "btn btn-warning" })
            </p>

            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive table--no-card m-b-30">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    @*<th>

                                       código de usuario
                                    </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.Login)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nombre)
                                    </th>
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.DIR)
                                    </th>*@

                                    <th>
                                        Teléfono
                                    </th>
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.Mostrar_info_contacto)
                                    </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.Perfil)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.Cod_usuario)
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Login)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)

                                            @Html.DisplayFor(modelItem => item.Apellido)
                                        </td>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.DIR)
                                        </td>*@

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Telefono)
                                        </td>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.Mostrar_info_contacto)
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Perfil)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Modificar", "Edit", new { id = item.Cod_usuario }, new { @class = "btn btn-success btn-sm" }) |
                                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Cod_usuario }, new { @class = "btn btn-danger btn-sm" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


