@model Rent_Flat_Core.Models.Viviendas

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/PlantillaBack.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Viviendas</h4>
    <hr />
    <dl class="dl-horizontal">



        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Posta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo_Posta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Num_habitaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Num_habitaciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Num_banios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Num_banios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tamanio_vivienda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tamanio_vivienda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Garaje)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Garaje)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cod_TipoVivienda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cod_TipoVivienda)
        </dd>
    </dl>

    <form asp-action="EliminarViviendas">
        @Html.HiddenFor(model => model.Cod_casa)
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Nombre_Costas">Volver</a>
    </form>
</div>
