@model Rent_Flat_Core.Models.Clientes

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/PlantillaBack.cshtml";
}

<div class="card">

    <div class="card-header">Confirmación Eliminar Cliente</div>

    <div class="card-body">

        <div class="card-title">
            <h3 class="text-center title-2">¿Estás seguro que quieres eliminar al cliente: @Model.NombreCliente @Model.ApellidoCliente?</h3>
        </div>
        <dl class="dl-horizontal">
            @*<dt>
                @Html.DisplayNameFor(model => model.IdCliente)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdCliente)
            </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NombreCliente)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ApellidoCliente)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ApellidoCliente)
            </dd>
            @*<dt>
                @Html.DisplayNameFor(model => model.EmailCliente)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EmailCliente)
            </dd>*@
            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ciudad)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ciudad)
            </dd>
            @*<dt>
                @Html.DisplayNameFor(model => model.Dni)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Dni)
            </dd>*@
            @*<dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>*@
        </dl>

        <form asp-action="EliminarCliente" method="post">
            @Html.HiddenFor(model => model.IdCliente)
            <input type="submit" value="Elimiar Cliente" class="btn btn-lg btn-info btn-block"  />

            <a asp-action="Clientes">VOLVER</a>
        </form>
    </div>
    </div>
    @*<div>
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
            <a asp-action="Index">Back to List</a>
        </div>*@
