@model Rent_Flat_Core.Models.VIVIENDASPORFILTRO

@{
    ViewData["Title"] = "Property";
    Layout = "~/Views/Shared/PlantillaFront.cshtml";
}

<environment include="Development">

    <link rel="stylesheet" type="text/css" href="~/Front/styles/bootstrap4/bootstrap.min.css">
    <link href="~/Front/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Front/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Front/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Front/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Front/plugins/rangeslider.js-2.3.0/rangeslider.css">
    <link rel="stylesheet" type="text/css" href="~/Front/styles/property.css">
    <link rel="stylesheet" type="text/css" href="~/Front/styles/property_responsive.css">

</environment>

<div class="property" style="margin-top:200px;">
    <div class="container">
        <div class="row">
            <div class="col">
                @*<div class="section_title">@Model.Count() Casas Encontradas</div>*@
                @*<div class="section_subtitle">Search your dream home</div>*@
            </div>
        </div>

        <div class="container">
            <div class="row">

                <!-- Sidebar -->

                <div class="col-lg-4">
                    <div class="sidebar">


                        <!-- Realtor -->

                    </div>
                </div>


                <div class="intro_slider_container">

                    <!-- Intro Slider -->
                    <div class="owl-carousel owl-theme intro_slider">
                        <!-- Slide -->
                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.ViviendaImagen)" alt="">

                    </div>


                </div>





                <!-- Property Content -->
                <div class="col-lg-7 offset-lg-1">
                    <div class="property_content">
                        <div class="property_icons">
                            <div class="property_title">
                                @Model.Direccion | @Model.NombreProvincia
                            </div>
                            <div class="property_text property_text_1">
                                <p>@Model.Direccion</p>
                            </div>
                            <div class="property_rooms d-flex flex-sm-row flex-column align-items-start justify-content-start">

                                <!-- Property Room Item -->
                                <div class="property_room">
                                    <div class="property_room_title">Habitaciones</div>
                                    <div class="property_room_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="room_icon"><img src="~/Front/images/room_1.png" alt=""></div>
                                        <div class="room_num">@Model.Num_habitaciones</div>
                                    </div>
                                </div>

                                <!-- Property Room Item -->
                                <div class="property_room">
                                    <div class="property_room_title">Baños</div>
                                    <div class="property_room_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="room_icon">
                                            <img src="~/Front/images/room_2.png" />
                                        </div>
                                        <div class="room_num">@Model.Num_banios</div>
                                    </div>
                                </div>

                                <!-- Property Room Item -->
                                <div class="property_room">
                                    <div class="property_room_title">Area</div>
                                    <div class="property_room_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="room_icon"><img src="~/Front/images/room_3.png"></div>
                                        <div class="room_num">@Model.Tamanio_vivienda m<sup>2</sup></div>
                                    </div>
                                </div>

                                <!-- Property Room Item -->
                                <div class="property_room">
                                    <div class="property_room_title">Garaje</div>
                                    <div class="property_room_content d-flex flex-row align-items-center justify-content-start">
                                        <div class="room_icon"><img src="~/Front/images/room_5.png" alt=""></div>
                                        <div class="room_num">
                                            @if (Model.Garaje.ToString().ToUpper() == "TRUE")
                                            {<span>Sí</span> }
                                            else
                                            { <span>No</span>}
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <!-- Description -->

                        <div class="details_container">
                            <div class="property_title">Descripción</div>
                            <div class="property_text property_text_2">
                                <p>@Model.Descripcion_vivienda</p>
                            </div>
                        </div>
                        @if (Model.PrecioActivo.HasValue || Model.PrecioActivo > 0)
                        {
                            <div class="property_price">
                                <div class="property_title">Precio Actual</div>
                                <div class="property_text property_text_2">
                                    <p>@Model.PrecioActivo €/Mes</p>
                                </div>
                            </div>
                        }

                        @if (Model.PrecioAnterior.HasValue || Model.PrecioAnterior > 0)
                        {
                            <div class="property_price">
                                <div class="property_title">Precio Anterior</div>
                                <div class="property_text property_text_2">
                                    <p style="text-decoration:line-through;color:red;">@Model.PrecioAnterior €/Mes</p>
                                </div>
                            </div>
                        }





                        <div class="sidebar_realtor">
                            <div class="sidebar_realtor_image">@*<img src="@Model.ViviendaImagen" />*@</div>
                            <div class="sidebar_realtor_body text-center">
                                <div class="sidebar_realtor_title"><span><strong>Datos del anunciante</strong></span></div>
                                <div class="sidebar_realtor_title">@Model.NombreCliente @Model.ApellidoCliente</div>

                                <div class="sidebar_realtor_phone"><span>Teléfono: </span>@Model.Telefono</div>
                                <div>@Model.EmailCliente</div>

                            </div>
                        </div>






                        <div class="property_map">
                            <div class="property_title">Property on map</div>
                            <div class="property_map_container">

                                <!-- Google Map -->
                                <div id="google_map" class="google_map">
                                    <div class="map_container">
                                        <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6361393.920491699!2d-6.902357790412052!3d37.67927959003587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12baf8e36f90d6c5%3A0xbee52c2ae6bcadca!2sCosta+Brava%2C+Girona!5e0!3m2!1ses!2ses!4v1551178503838" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </div>
</div>



<environment include="Development">
    <script src="~/Front/js/jquery-3.2.1.min.js"></script>
    <script src="~/Front/styles/bootstrap4/popper.js"></script>
    <script src="~/Front/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Front/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Front/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Front/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Front/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Front/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Front/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Front/plugins/easing/easing.js"></script>
    <script src="~/Front/plugins/rangeslider.js-2.3.0/rangeslider.min.js"></script>
    <script src="~/Front/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Front/https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
    <script src="~/Front/js/property.js"></script>

</environment>